- content_for(:html_title) { 'プロフィール' } 
%h1
  プロフィール
= form_with url: root_path do |f| 
  %div
    %div
      %div
      = f.text_field  :items ,value:"name"
  %div
    = f.text_area :items ,value:"text"
    = f.submit :items , value:"変更する"
