.transaction-contents
  .transaction-contents__header
    %h1 購入内容の確認
  .transaction-contents__body
    %img
      = image_tag 'product.jpg',width:"80px", height:"80px"
    %p サンドベージュの靴
    %span 7000円
    %span （税込）送料込み
  .transaction-contents
    %p 支払い金額