@import 'var';

.item{

  &__contents {
    padding: 0 50px 0px 50px;
    width: 100%;
    height: 100%;

   

    
    

    > div {
      width: 700px;
      margin: 0 auto;
      padding: 0;

      h1 {
        text-align: center;
        font-size: 1.4em;
      }



      > form > div {
        background-color: $white;
        padding: 40px;
        border-bottom: 1px solid $gray;

        
        a {
          color: $blue;
          &:hover {

            border-bottom: 1px solid;
          }
        }

        &:nth-child(5) {
          input[type=text] {
            width: 100%;
          }
        }

        &:last-child {
          font-size: 0.85em;
          line-height: 1.6em;
        }
        input[type=text] {
          @include input-form;
          margin-bottom: 40px;
        }

        textarea {
          @include textarea;
          height:10em;
        }

        input[type=submit] {
          @include submit-red-bar;
          margin-top: 50px;
          opacity: 0.93;
          transition: 0.5s;

          &:hover {
            opacity: 1;
            
          }

          + a {
            @include submit-red-bar;
            display: block;
            width: 300px;
            margin: 0 auto;
            text-align: center;
            line-height: 30px;
            background-color: $deepgray;
            transition: 0.5s;
          }
        }

        .required {
          background-color: $red;
          color: $white;
          font-size: 0.7em;
          padding: 4px;
          border-radius: 2px;
        }
        h3 {
          color: $lightblack;
          font-size: 0.8em;
          .question {
            display: inline-block;
            background-color: $blue;
            color: $white;
            width: 14px;
            height: 14px;
            padding: 2px 4px;
            border-radius: 100%;
            font-size: 0.5rem;
            font-weight: normal;
            &:hover {

              border: none;
            }
          }
        }

        h2 {
          font-size: 0.9em;
          line-height: 1.5em;
          margin-bottom: 5px;

          + p{
            font-size: 0.8em;
            margin: 10px 0 20px 0;
          }

          
        }

      &:nth-child(n+6):nth-child(-n+8){
        @include flex;
        
        div:nth-child(2) {
          > div {
            &.seller, &.buyer {
              display: none;
            }
            div:first-child {
          width: 35%;

          
        }
          
          
          > div  {
            &::after {
              position: absolute;
              right: 15px;
              top: 0;
              line-height: 53px;
              pointer-events: none;
              font-family: $fontawesome;
              font-weight: 900;
              color: $lightblack;
              content:"\f078";
            }
          }
          li{
            @include flex;
            color:$black;
            list-style: none;
            padding: 10px 0;
          &:nth-child(-n+2) {
            border-bottom: 1px solid $deepgray;
            div,p {
              width: fit-content;
              line-height: 40px;
            }
            > div:nth-child(2) {
              text-align: right;
              margin-bottom: 10px;
              > input {
              margin: 0;
              width: 170px;
              text-align: right;
            }
          }


            &:first-child {
              font-size: 0.85em;
              font-weight: bold;
              
            }


            &:nth-child(2) {
              font-size: 0.85em;
            }

          }

          &:nth-child(3) {
            margin: 10px 0 20px 0;
            font-size: 1em;
            font-weight: bold;

            > #sales {
              font-size: 1.5em;
            }
          }
        }
      }
        }

        

        div:last-child{
          width: 65%;
          > div:nth-last-child(n+2){
            margin-bottom: 40px;
          }
          div{
            width: 100%;
          }
        }
        div > div {

          
          position:relative;
          width: 100%;

          &:last-child {
            width: 100%;
          }

          

          
          
          > select {
          -webkit-appearance: none;
          -moz-appearance:none;
          appearance: none;
          outline:none;
          color: inherit;
          height: 50px;
          padding: 8px 12px;
          width:100%;
          border-color: $deepgray;
          background-color: inherit;
          background: none transparent;
          font-size: 1em;
          &:focus {
            outline: none;
          }
          &:hover {
            border: 1px solid $blue;
          }
          

          > option{
            background-color: #fff;
            color: $black;
          }
        }

      }

      }

      
      
        
      }
    }

    &--upload {
      width: 100%;
      background-color: $gray;
      border: dashed 1px $deepgray;
      padding: 50px;
      font-weight: bold;
      font-size: 0.85em;
      line-height: 1.5em;
      text-align: center;
    }


    
  }

}