.item {
  &__contents {
    padding: 0 50px 0px 50px;
    width: 100%;
    height: 100%;

        a:hover{
        opacity: 0.5;
        }

        > div {
        width: 700px;
        margin: 0 auto;
        padding: 0;

              h1 {
              text-align: center;
              font-size: 1.4em;
              }
        
            > form > div {
              background-color: $white;
              padding: 40px;
              border-bottom: 1px solid $gray;

              a {
                color: $blue;
                &:hover {
                  border-bottom: 1px solid;
                }
              }

              &:last-child {
                font-size: 0.85em;
                line-height: 1.6em;
              }

              


            }

          h2 {
            font-size: 0.9em;
            line-height: 1.5em;
            margin-bottom: 5px;
            + p{
              font-size: 0.8em;
              margin: 10px 0 20px 0;
            }
            + input[type=text] {
              width: 100%;
            }
          }

          h3 {
            color: $lightblack;
            font-size: 0.8em;
            .question {
              display: inline-block;
              background-color: $blue;
              color: $white;
              width: 14px;
              height: 14px;
              padding: 2px 4px;
              border-radius: 100%;
              font-size: 0.5rem;
              font-weight: normal;
              &:hover {
                border: none;
              }
            }
          }

        }

        &--image-upload-container {
          @include flex;
          width: 100%;

          #drop_area {
            padding-top: 50px;
            width:100%;

            justify-content: center;
            align-items: center;
            flex-grow: 1;
            flex-shrink: 10;
            width: 100%;
            background-color: $gray;
            border: dashed 1px $deepgray;
            margin: 0 auto;
            height: 160px;
            font-weight: bold;
            font-size: 0.85em;
            text-align: center;
            cursor: pointer;
            line-height: 1.6em;
          }

          > h2 {
            line-height: 100px;
          }
          
          &--wrap {

            input[type=file] {
              display: none;
            }
            

            
            }

            .preview_field {

              list-style: none;
              width:110px;
              height:100%;
              background-color: $gray;
              margin:10px 15px 0 0;
                    &:nth-child(5n) {
                      margin-right: 0;
                    }
              
              &_wrap {
                display: flex;
                flex-wrap:wrap;
                margin-top: 10px;
                #preview_field {
                  display: flex;
                  flex-wrap:wrap;
                  img {
                    width: 110px;
                    height: 110px;
                    object-fit: contain;
                  }
              }
              &--caption {
                height: 110px;
              }
            }

            input[type=file] {

              width: 100%;
              height:100%;
            }
          
            

          
          }



          
        }

        &--description-container {
          background-color: red;
          width: 100%;
          &__name {
            width: 100%;
          }

        }

        &--details-container {
          background-color: blue;
          display: flex;
          @include item-sell-flex;
          
        }

        &--regarding-delivery-container {
          background-color: green;
          display: flex;
          @include item-sell-flex;
        }

        &--price-container {
          background-color: yellow;
          display: flex;
          @include item-sell-flex;
          &__yen-mark {
            position: relative;
            top: 15px;
            padding-right: 10px;
          }
          > div:last-child {
            ul > li > div:last-child {
              display: flex;
            }
          }
          li{
            @include flex;
            color:$black;
            list-style: none;
            padding: 10px 0;
            }
            font-size: 1em;
            font-weight: bold;
            > #sales {
              font-size: 1.5em;
              }
        }



        select {
            -webkit-appearance: none;
            -moz-appearance:none;
            appearance: none;
            outline:none;
            color: inherit;
            height: 50px;
            padding: 8px 12px;
            width:100%;
            border-color: $deepgray;
            background-color: inherit;
            background: none transparent;
            font-size: 1em;
            margin-bottom: 40px;
            &:focus {
              outline: none;
            }
            &:hover {
              border: 1px solid $blue;
            }

            > option{
              background-color: #fff;
              color: $black;
            }
        }

        input[type=text], input[type=number] {
          @include input-form;
          margin-bottom: 40px;
          font-weight: bold;
          
        }

        textarea {
          @include textarea;
          height:10em;
        }

        input[type=submit] {
          @include submit-red-bar;
          margin-top: 50px;
          opacity: 0.93;
          transition: 0.5s;
          &:hover {
            opacity: 1;
          }
        }

        .field_with_errors {
          > input[type=text],input[type=file],select,textarea {
            border: 1px solid $red;
          }
          
        }

        #error_explanation {
          li {
            list-style: none;
          }
        }

        .back-page {
          text-align: center;
        }
  }
}