.footer-devise
  %nav
    %ul
      %li
        プライバシーポリシー
      %li
        メルカリ利用規約
      %li
        特定商取引に関する表記
  %img
    = image_tag 'logo_gray.svg', alt: '', height: '', width: '', class: 'gray-logo'
  %p
    © Fmarket